// Media Queries
$mobileVertical: "screen and (max-width: 480px)";
$mobileHorizontal: "screen and (max-width: 767px)";
$iPadVertical: "screen and (max-width:991px)";
$iPadHorizontal: "screen and (min-device-width: 991px) and (max-device-width: 1199px)";
